.header{
  
    
    height: max-content;
    text-align: center;
    color: white;
    margin: auto;
    width: 100%;
    font-size: 240%;
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
   
}
marquee{
    width: 100%;
    height: 50px;
}

    
